<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sai.core.mapper.RolemenuinfoMapper">
  <resultMap id="BaseResultMap" type="com.sai.core.domain.Rolemenuinfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="roleid" jdbcType="BIGINT" property="roleid" />
    <result column="menuid" jdbcType="BIGINT" property="menuid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createUser" jdbcType="BIGINT" property="createuser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roleid, menuid, createTime, createUser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roleMenuInfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from roleMenuInfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sai.core.domain.Rolemenuinfo">
    insert into roleMenuInfo (id, roleid, menuid)
    values (#{id,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}, #{menuid,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sai.core.domain.Rolemenuinfo">
    update roleMenuInfo
    set roleid = #{roleid,jdbcType=BIGINT},
      menuid = #{menuid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByRoleId" parameterType="java.lang.Long">
    DELETE FROM roleMenuInfo WHERE roleid = #{roleId,jdbcType=BIGINT}
  </delete>

  <select id="selectByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from roleMenuInfo
    where roleid = #{roleId,jdbcType=BIGINT}
  </select>
</mapper>